@page
@model ServerlessApp.Pages.MoviesModel
@{
    ViewData["Title"] = "Movies";
    Layout = "~/Pages/_Layout.cshtml";
}

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
@*<link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <script src="~/js/bootstrap.js"></script>*@

<script type="text/javascript">
    var userData = null;
    var data = {
        Email: 'Test',
        Password: 'Test',
        RememberMe: true
    };
    $(document).ready(function myfunction() {

        $.ajax({
            url: "http://localhost:53768/api/Movies",

            dataType: "json",
            crossdomain: true,
            contentType: "application/json",
            type: "GET",
            //define a contentType of your request
            secure: true,
            headers: {
                "Access-Control-Allow-Origin": "*",
                "Access-Control-Allow-Headers": "*"
            },
            success: function (data) {
                tblData = data
                $.each(data, function (i, data) {
                    var actorsData = data.Table[i].Actors;
                    var actorsNames = actorNames(actorsData);
                    window.sessionStorage.setItem('data', data.Table[i]);
                    userData = data;
                    var Update = "<a name=LoginButton data-toggle= modal  data-target= #exampleModal onclick=myfunction('" + this.ItemArray[1] + "')  value=Update href=# id=btnUpdate>Update</a>";
                    var Delete = "<a name=LoginBut onclick=DeleteRecord('" + this.ItemArray[1] + "') href=# id=" + data.Table[i].MovieName + ">Delete</a>";
                    var body = "<tr>";//  data-toggle=modal data-id= " + i + " data-target=#exampleModal
                    body += "<td id=" + data.Table[i].MovieName + ">" + data.Table[i].MovieName + "</td > ";
                    body += "<td>" + data.Table[i].DateOfRelease + "</td>";
                    body += "<td>" + data.Table[i].Producer + "</td>";
                    body += "<td>" + actorsNames.replace(/,\s*$/, "") + "</td>";
                    body += "<td>" + Update + "  ||  " + Delete + "</td>";
                    body += "</tr>";
                    $(body).appendTo($(".tblData"));
                });
                $('#tblMovies').DataTable();
            },
            error: function (xhr, errorType, exception) {
                var errorMessage = exception || xhr.statusText;
                console.log(exception);
                console.log(xhr);
                alert(errorType + ";  " + errorMessage + " " + exception + "  Status:: " + xhr.statusText);
            }
        });


    });

    function actorNames(data) {
        var names = "";
        for (var i = 0; i < data.length; i++) {
            names = names + data[i].ActorName + ",";
        }
        return names;
    }

    $('#dvPopup').on('load', function () {
        //var $el = $("#modal_contact");
        //var $username = $el.data('userName');
        console.log("Success");
    });

    function myfunction(movieName) {
        console.log(movieName);
        var body = "";
        $(body).appendTo($("#slctActors"));

        $.ajax({
            url: "http://localhost:53768/api/Movies/" + movieName + "",

            dataType: "json",
            crossdomain: true,
            contentType: "application/json",
            type: "GET",
            //define a contentType of your request
            secure: true,
            headers: {
                "Access-Control-Allow-Origin": "*",
                "Access-Control-Allow-Headers": "*"
            },
            success: function (data) {
                tblData = data[0].Table[0];
                //  $.each(data, function (i, data) {
                var actorsData = tblData.Actors;
                //window.sessionStorage.setItem('data', data.Table[0]);
                userData = data;
                $('#txtMovieName').val(movieName);
                $('#txtProducer').val(tblData.Producer);
                $("#txtReleaseDate").val(tblData.DateOfRelease);
                
                for (var i = 0; i <= actorsData.length - 1; i++) {
                    $('#slctActors').children().remove();
                    body += "<option value=" + actorsData[i].ActorName + ">" + actorsData[i].ActorName + "</option > ";
                    $(body).appendTo($("#slctActors"));
                }

                //});
            },
            error: function (xhr, errorType, exception) {
                var errorMessage = exception || xhr.statusText;
                console.log(exception);
                console.log(xhr);
                alert(errorType + ";  " + errorMessage + " " + exception + "  Status:: " + xhr.statusText);
            }
        });

        $("#txtReleaseDate").datepicker({
            inline: true
        });
        $("#exampleModal").modal('show');

        // $('#slctActors').multiselect();
    }


    function getData(movie) {

    }

    function DeleteRecord(movieName) {
        console.log(document.getElementsByName("LoginBut"));
        // var $row = $(this).closest("tr");    // Find the row
        //var $text = $row.find("#tmp").text(); // Find the text
        $.ajax({
            url: "http://localhost:53768/api/Movies" + "/" + movieName,
            crossdomain: true,
            contentType: "application/json",
            type: "DELETE",
            success: function (result) {
                console.log("success");
                window.location.reload();
            },
            error: function (xhr, errorType, exception) {
                var errorMessage = exception || xhr.statusText;
                console.log(exception);
                console.log(xhr);
                alert(errorType + ";  " + exception + "  Status:: " + xhr.statusText);
            }
        });
    }


    function Savechanges() {
        var moviename = $("#txtMovieName").val();
        var frmdata = $("#frmUpdate").serialize();
        var producername = $("#txtProducer").val();
        var releasedate = $("#txtReleaseDate").val();
        var DataObject =
        {
            "Movies": [
                {
                    "MovieName": moviename,
                    "Producer": producername,
                    "DateOfRelease": releasedate,
                    "actor": [
                        {
                            "ActorName": "Test2"
                        }
                    ]
                }
            ]
        }
        var dt = {
            "MovieName": moviename

            //,
            //"Producer": producername,
            //"DateOfRelease": releasedate
        }

        $.ajax({
            url: "http://localhost:53768/api/Movies/" + moviename + "",
            data: JSON.stringify(dt),
            dataType: "json",
            crossdomain: true,
            contentType: "application/json; charset=utf-8",
            type: "PUT",
            //define a contentType of your request
            secure: true,
            headers: {
                "Access-Control-Allow-Origin": "*",
                "Access-Control-Allow-Headers": "*"
            },
            success: function (data) {
                tblData = data
                $.each(data, function (i, data) {
                    var actorsData = data.Table[i].Actors;
                    window.sessionStorage.setItem('data', data.Table[i]);
                    userData = data;
                    $('#txtMovieName').val(movieName);
                    $('#txtProducer').val(data.Table[i].Producer);
                    $("#txtReleaseDate").val(data.Table[i].DateOfRelease);
                    var body = "";
                    for (var i = 0; i <= actorsData.length - 1; i++) {
                        body += "<option id=" + i + ">" + actorsData[i].ActorName + "</option > ";
                        $(body).appendTo($("#slctActors"));
                    }

                });
            },
            error: function (xhr, errorType, exception) {
                var errorMessage = exception || xhr.statusText;
                console.log(exception);
                console.log(xhr);
                alert(errorType + ";  " + errorMessage + " " + exception + "  Status:: " + xhr.statusText);
            }
        });

        console.log(data + "," + producername + "," + releasedate);
    }

</script>

<div style="height:80px;">

</div>
<div class="container">
    <table class="table" id="tblMovies">
        <thead>
            <tr>
                <th>MovieName</th>
                <th>DateOfRelease</th>
                <th>Producer</th>
                <th>Actors</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody class="tblData"></tbody>
    </table>

    @*<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="defaultForm-email" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                    </div>

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" id="defaultForm-pass" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-default">Login</button>
                </div>
            </div>
        </div>
    </div>*@

    @*<div class="text-center">
            <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">
                Launch
                Modal Login Form
            </a>
        </div>*@
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Movie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>MovieName</label>
                            @Html.TextBoxFor(m => m.MovieName, new { @id = "txtMovieName", @placeholder = "MovieName", @name = "MovieName", @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Producer</label>
                            <input type="text" id="txtProducer" placeholder="Producer" name="Producer" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtReleaseDate">DateOfRelease</label>
                            <input type="text" id="txtReleaseDate" class="form-control" name="ReleaseDate" style="width:65%" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="slctActors">Actors</label>

                            <select id="slctActors" class="form-control" multiple>
                               
                            </select>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="Savechanges()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

